.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.top-menu .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.top-menu .link:hover {
  color: red;
}

.top-menu .link-icon {
  width: 24px;
  height: 24px;
}

.top-menu .link-name {
  color: #888888;
  font-size: 14px;
  text-align: center;
}
.top-menu .link-name:hover {
  color: #00a6ff;
}
