.start {
}

.container {
  width: 100%;
  height: 100%;

  flex: 1;
}

/* .list {
  scrollbar-width: none;
  height: 100%;
  overflow-y: scroll;
  background-color: #770d0d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
} */
