.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;

  padding: 0 8px;
}

.navbar .branding {
  display: flex;
  gap: 8px;
}

.navbar .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.navbar .amount {
  color: #00a6ff;
  font-weight: 600;
}

.navbar .account .wallet {
  display: flex;
  align-items: center;
  gap: 8px;
}
