.filter {
  flex: 1;
}

.filter.isVisible {
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #00a6ff;
  z-index: 2;
}

.filter.isVisible .menu {
  background-color: #00a6ff;
}

.filter .menu {
  background-color: #ffffff;
  display: flex;
  gap: 8px;
  display: flex;
  align-items: center;
}

.filter-title {
  color: #ffffff;
}

.filter-icon {
  border: solid 1px #888888;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.filter.isVisible .filter-icon {
  border: none;
}
.filter .countCrumbs {
  border: solid 1px #ffffff;
  border-radius: 16px;
  color: #ffffff;
  padding: 0 8px;
}

.providers {
  flex: 1;
  padding: 28px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 32px;
  scrollbar-width: none;
  height: 100%;
  overflow-y: scroll;
}

.providers .company {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.providers .company-img {
  padding: 0 24px;
  background-color: #f2f2fa;
  object-fit: contain;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
